.mainTable{
    border: 2px solid black;
    margin: 100px 100px 100px 100px;
}

#tableHeader{
    background-color: lightgray;
    border: 2px solid black;
    padding: 20px 20px 20px 20px;
}

#row1{
    /*background-color: aquamarine;*/
    border:2px solid black;
    padding: 20px 20px 20px 20px;
}

#row2{
    border: 2px solid black;
    padding: 20px 20px 20px 20px;
}

.reki{
    height: 20%;
    width: 20%;
    border:5px dashed red;
    padding: 30px 30px 30px 30px;
}

.kamala{
    height: 150pt;
    width: 150pt;
    border:5px dashed red;
    padding: 30px 30px 30px 30px;
}

.pavitr{
    height: 2in;
    width: 2in;
    border:5px dashed red;
    padding: 30px 30px 30px 30px;
}

.paragraph{
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-family: monospace;
    font-size: 25px;
}

/*a.song1:link{color:black;}*/
a.song1:hover{color:red;}

/*a.song2:link{color:black;}*/
a.song2:visited{color:gray;}

a.song3.active{color:orange;}

